body {
    background: url("/assets/img/portada2.jpg") center top no-repeat fixed;
    background-size: cover;
  
    /* padding: 60px 0 60px 0; */
    position: relative;
    color: #666666;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    
    
  }
 

  /* body::before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3) ;
  z-index: 0;
} */